<% if current_user %>
  <h1 class="text-center py-4">Bienvenu sur Palmarun <%= current_user.first_name %></h1>

  <div class="row">
    <button type="button" class="btn btn-bg-blue text-white col-10 offset-1 col-md-4 offset-md-1 my-3">AJOUTER UN RESULTAT</button>
    <button type="button" class="btn btn-bg-blue text-white col-10 offset-1 col-md-4 offset-md-2 my-3">CONSULTER MES RESULTATS</button>
  </div>
<% else %>
  <h1 class="text-center py-4">Bienvenu sur Palmarun, vous pouvez vous créer un compte :-)</h1>
<% end %>