/*
 *= require_self
 */
@import "bootstrap";
@import "static_pages.scss";

$blue-color: #3c8eaa;

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  .logo {
    height: 80px;
    margin:auto;
  }

  a {
    color: black;
  }

  navbar-toggler {
    color: white;
  }
}

.btn-bg-blue {
  background-color: $blue-color;
  font-size: 2rem;
}

