/*
 *= require_self
 */
@import "bootstrap";
@import "static_pages.scss";

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  .logo {
    height: 80px;
    margin:auto;
  }

  a {
    color: black;
  }

  navbar-toggler {
    color: white;
  }

  p {
    font-size: 0.5rem;
  }
}

