@import 'commons';

.btn-bg-blue {
  background-color: $blue-color;
  font-size: 2rem;
}

.table-header {
  color: $blue-color;
}

.last-results-text {
  font-weight: bold;
  color: $blue-color;
  border: 1px solid $blue-color;
  width: fit-content;
  padding: 10px;

}

.table th {
  text-align: center;
}

#edit-icon {
  text-decoration: none;
  color: black;
}
